.casenoir{
  background-color: green ; 
  display: block;
  width: 100px;
  border-style:solid;

} 
table tr td {
  display: block;
  width: 100px;

  display: inline;
  background-color: red; 
}
td{
  float: left ;
  min-height: 50px;
  border-style:solid;