.casenoir{
  background-color: #1f100a ; 
  display: block;
 width: 9%;
  height: 9%;
  border-style:solid;

} 
table{
width: 100%;

}

table tr td {
  display: block;
  width: 9%;
  height: 9%;
  display: inline;
  background-color: white; 
}
td{
  float: left ;
  min-height: 50px;
  border-style:solid;}
 
 .joueur1
  {  background-image :  url('../images/images.png'); 
    background-position: center; 
    display: block;
    width: 9%;
  height: 9%;
  
    border-style:solid;
    /*background-color: yellow;*/
    float: left ;}
 .joueur2
  {  background-image :  url('../images/fleurs.png'); 
    background-position: center; 
    display: block;
   width: 9%;
  height: 9%;
    border-style:solid;
    /*background-color: red;*/
    float: left ;}
.selected{
  border-color: red;
}

/******************************************************************/

.messagenvoyes{
word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
    text-overflow: 0;
}

  /*#m{ 
    border: 2px solid black; 
    padding: 10px; 
    width: 29%;  
    position: fixed; 
    right:5%;
    bottom: 0;
  }*/



  #message_block{ 
    width: 35%;
    top:0;
    right: 50%;
  }
  #test{overflow:hidden; zoom:1;}
  .left{width:700px; margin-bottom:-3000px; padding-bottom:3000px; background:#cad5eb; float:left;}
  .right{height:100%; background:#ffe6b8;float: right; width: 35%}
